.about-us {
  padding: 50px 0px;

  @include ipad {
    padding: 25px 0px;
  }
  h1 {
    font-size: 70px;
    line-height: 70px;
    color: $secondary;
    font-family: $primaryFont;
    margin-bottom: 30px;
    @include tablet {
      max-width: 100%;
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 20px;
    }

    @include mobile-sm {
      font-size: 28px;
      line-height: 30px;
    }
  }

  .about-form {
    .about-form-inner {
      background-color: #071040;
      width: 100%;
      padding: 15px 0px 5px;
      border-radius: 10px;
      .thumb {
        width: 250px;
        margin: 0 auto;
        margin-bottom: 15px;
      }

      .radio-action {
        padding: 0px 20px;
        margin-bottom: 10px;
        display: inline-block;

        label {
          color: $white;
          margin-bottom: 10px;
        }
      }

      .submit-action {
        margin-bottom: 20px;
        h6 {
          color: $white;
        }

        select {
          width: 80%;
          margin: 0 auto;
          padding: 6px 10px;
          border-radius: 20px;
          border: 1px solid #ddd;
          font-size: 14px;
          margin-bottom: 25px;
        }
      }
    }
  }
}

.feature {
  .feature-top-wrapper {
    height: auto;
    background-image: url("../images/common/feature-banner.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    padding: 15px;
    border-radius: 10px;

    @include tablet {
      background-position: 15% 0%;
    }

    p {
      max-width: 480px;
    }

    h3 {
      max-width: 490px;
      font-size: 40px;
      line-height: 50px;
      color: $tertiary;
      font-family: $primaryFont;
      margin-bottom: 30px;
      width: 100%;
      @include tablet {
        max-width: 100%;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
      }

      @include mobile-sm {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }

  .feature-bottom-wrapper {
    padding: 25px 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

    @include ipad {
      padding: 15px 20px;
    }

    .thumb {
      height: auto;
      background-image: url("../images/common/feature-post-banner.png");
      background-repeat: no-repeat;
      background-position: 50% 0%;
      background-size: cover;
      padding: 25px 0px;
      margin-bottom: 20px;

      ul {
        padding-left: 50px;
        margin-bottom: 0px;
        li {
          color: $white;
          font-size: 15px;
          margin-bottom: 5px;
          font-weight: 600;
          :last-child {
            margin-bottom: 0px;
          }
        }
      }
    }

    h4 {
      font-size: 28px;
      line-height: 38px;
      color: #119ddb;
      font-family: $primaryFont;
      margin-bottom: 10px;
      width: 100%;
      @include tablet {
        max-width: 100%;
        font-size: 22px;
        line-height: 30px;
      }

      @include mobile-sm {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }

  .feature-support {
    .row {
      padding: 40px;
      @include ipad {
        padding: 20px 10px;
      }

      .support-item {
        border: 1px solid #ebebeb;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 25px;

        @include ipad {
          margin-bottom: 15px;
        }

        .thumb {
          width: 50px;
          margin-top: 5px;
        }

        .content {
          min-height: 125px;
          @include ipad {
            min-height: auto;
          }
          p {
            margin-bottom: 0px;
          }

          h6 {
            font-size: 20px;
            line-height: 28px;
            color: #119ddb;
            font-family: $primaryFont;
            margin-bottom: 5px;
            width: 100%;
            @include tablet {
              max-width: 100%;
              font-size: 18px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
}
