.lm-sec-two {
  h1 {
    font-size: 64px;
    line-height: 70px;
    margin-bottom: 15px;
    max-width: 600px;

    @include laptop {
      font-size: 55px;
      line-height: 62px;
    }
    @include tablet {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: 20px;
    }

    @include mobile-sm {
      font-size: 28px;
      line-height: 30px;
    }
  }

  p {
    max-width: 700px;
    width: 100%;
    @include ipad {
      max-width: 100%;
    }
  }
}

.about-list {
  padding-left: 0;
  li {
    list-style: none;
    margin-bottom: 8px;
    color: $primary;
    font-size: 20px;
    font-weight: 600;
    @include ipad {
      font-size: 18px;
    }
    @include mobile-sm {
      font-size: 15px;
    }
    img {
      margin-right: 5px;
    }
  }
}

.about-widget {
  border: 1px solid $primary;
  border-radius: 5px;
  box-shadow: 10px 6px 20px rgba(0, 0, 0, 0.12);
  .thumb {
    padding: 20px 20px;
    background-color: #333;
  }
  .about-widget-inner {
    padding: 20px 20px;
    @include ipad {
      padding: 20px 45px;
    }
  }
  ul {
    padding-left: 0;
    max-width: 100%;
    margin: 0 auto;
    @include tablet {
      max-width: 100%;
    }
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: $tertiary;
        padding: 5px 0px;
        display: block;
        position: relative;
        &::after {
          position: absolute;
          content: url("../images/icon/right-arrow.png");
          width: 10px;
          height: 10px;
          // background-color: $primary;
          // background-image: url("../images/icon/round-tick.png");
          border-radius: 100%;
          left: -20px;
          top: 28%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
