.lm-sec-seven {
  margin-top: 50px;
  @include ipad {
    margin-top: 0px;
  }
  .concept-content {
    height: auto;
    background-image: url("../images/banner/concept-banner.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
    @include ipad {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 30px;
    }
    .concept-content-inner {
      max-width: 550px;
      width: 100%;
      p {
        margin-bottom: 0px;
      }
    }
  }
}
