.lm-sec-eight {
  .effect-wrapper {
    height: auto;
    background-image: url("../images/banner/obset-banner.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    .effect-content {
      max-width: 750px;
      width: 100%;
      p {
        margin-bottom: 90px;
        @include ipad {
          margin-bottom: 0px;
        }
      }
      .section-heading {
        max-width: 600px;
        margin-bottom: 15px;
      }
    }
    p {
      color: $tertiary;
    }
  }
  .service-effect {
    padding: 0px 40px 0px;
    transform: translateY(-80px);

    @include tablet {
      padding: 30px 5px;
      transform: translateY(0px);
    }
    .col-lg-12 {
      &:last-child {
        .service-item {
          margin-bottom: 0px;
        }
      }
    }

    .service-item {
      box-shadow: $shadow;
      border-radius: 5px;
      margin-bottom: 25px;
      min-height: 96%;
      transition: all ease-in-out 0.5s;
      background-color: $white;
      padding: 15px 15px;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 20px;
        .content {
          h5 {
            color: $secondary;
          }
        }
      }
      .thumb {
        img {
          width: 45px;
          height: 45px;
        }
      }

      .content {
        p {
          margin-bottom: 0;
        }
        h5 {
          font-size: 18px;
          line-height: 26px;
          margin: 10px 0px 8px;
          color: $primary;
          font-family: $primaryFont;
          width: 100%;
          max-width: 100%;
          transition: all ease-in-out 0.5s;
          @include tablet {
            max-width: 100%;
            margin: 5px 0px;
            font-size: 20px;
            line-height: 26px;
          }

          @include mobile-sm {
            font-size: 18px;
            line-height: 26px;
          }
        }
      }
    }
  }

  .card-item {
    margin-bottom: 20px;
    height: 90%;
    @include ipad {
      margin-bottom: 40px;
      height: auto;
    }
  }
}
