.lm-sec-twelve {
  height: auto;
  background-image: url("../images/banner/jot-form-banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .form-heading {
    .section-heading {
      color: $white;
      text-align: center;
      font-size: 32px;
      line-height: 40px;
      margin: 0 auto 15px;

      @include tablet {
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
        margin-bottom: 5px;
      }
    }
  }
}
