body {
  font-weight: 300;
  font-family: $poppins;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

// Common section padding
.section-padding {
  padding: 100px 0px;
  @include ipad {
    padding: 60px 0px;
  }
  @include mobile-sm {
    padding: 40px 0px;
  }
}

// Section heading
.section-heading {
  text-align: center;
  margin-bottom: 40px;
  h3 {
    font-size: 48px;
    line-height: 60px;
    color: $black;
    font-weight: 400;
    margin-bottom: 15px;
    @include ipad {
      margin-bottom: 0px;
      font-size: 40px;
      line-height: 50px;
    }

    @include mobile-sm {
      line-height: 40px;
      font-size: 30px;
    }
  }

  h2 {
    font-size: 56px;
    line-height: 60px;
    color: $black;
    font-weight: 700;
    @include ipad {
      line-height: 50px;
      font-size: 45px;
    }

    @include mobile-sm {
      line-height: 40px;
      font-size: 35px;
    }
  }
  @include ipad {
    margin-bottom: 30px;
  }
  @include mobile-sm {
    margin-bottom: 20px;
  }
}

.col-half-offset {
  margin-left: 4.166666667%;
}

// Ribbon style
.ribbon {
  position: absolute;
  top: -10%;
  right: -10%;
  max-width: 100%;
  img {
    width: 100%;
  }
}

// Cotact info
.social-list {
  text-align: center;
  width: 180px;
  height: 180px;
  background: $white;
  max-width: 100%;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  @include mobile-lg {
    width: 100px;
    height: 100px;
    margin: 5px;
    img {
      width: 40px;
    }
  }

  @include mobile-sm {
    width: 90px;
    height: 90px;
    margin: 4px;
    img {
      width: 35px;
    }
  }
  .social-inner {
    span {
      display: block;
    }

    .name {
      font-size: 24px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 5px;
      @include mobile-lg {
        font-size: 15px;
        margin-bottom: 0px;
        line-height: 25px;
      }
      @include mobile-sm {
        font-size: 13px;
        margin-bottom: 0px;
        line-height: 20px;
      }
      &.whatsapp {
        color: #3fc94f;
      }
      &.telegram {
        color: #1d9fd5;
      }
      &.livechat {
        color: #fd501e;
      }
    }
    .number {
      font-size: 16px;
      font-weight: 400;
      color: $black;
      @include mobile-lg {
        font-size: 12px;
        margin-bottom: 0px;
        line-height: 20px;
      }
      @include mobile-sm {
        font-size: 11px;
        line-height: 18px;
      }
    }
  }
}

// Secondary Background Color
.main-bg {
  background: $primary;
}

// Shop Background
.bg-white {
  background: $white;
}
.bg-lite {
  background: $lite;
}
// White color
.white {
  color: $white;
}

.paragraph {
  font-size: 20px;
  line-height: 36px;
  color: $black;
  font-weight: 400;
  display: inline-flex;
  text-align: center;

  @include ipad {
    font-size: 16px;
    line-height: 30px;
  }

  @include mobile-sm {
    font-size: 14px;
    line-height: 25px;
  }
}

// Black color
.black {
  color: $black;
}

// Gray color
.gray {
  color: $gray;
}

.curp-shape {
  img {
    width: 100%;
    transform: translateY(-1px);
  }
}

// Disable button
button {
  &:disabled {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    cursor: not-allowed;
    box-shadow: $shadow;
  }
}

// Invalid feedback
.invalid-feedback {
  color: $white;
  &.red {
    color: #dc3545;
  }
}

// Scroll Top
.scroll-top {
  position: relative;
}

.scrollToTop {
  position: fixed;
  right: 30px;
  bottom: 40px;
  cursor: pointer;
  z-index: 9999;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.scrollToTop span {
  font-size: 20px;
}

.scrollToTop span {
  color: $white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  z-index: 0;
}

.scrollToTop {
  width: 45px;
  height: 45px;
  line-height: 43px;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: $secondary;
}
