.header-nav {
  background: rgba($color: $black, $alpha: 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: $transition;
  z-index: 999999;
  &:hover {
    background: $black;
    @include tablet {
      background: rgba($color: $black, $alpha: 0.9);
    }
  }
  @include tablet {
    .navbar-collapse {
      height: 100vh;
    }
  }
  &.menu-fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .container {
    max-width: 1406px;
    .navbar {
      padding: 0px;
    }
    .navbar-toggler {
      background: none;
      outline: none;
      border: none;
      padding: 0px;
      font-size: 0px;
      max-width: 25px;
      &.login {
        max-width: 35px;
      }
      img {
        width: 100%;
      }
    }
  }
  .site-logo {
    text-align: center;
    cursor: pointer;
    @include tablet {
      width: 200px;
      max-width: 100%;
      padding: 15px 0px;
    }
    @include ipad {
      width: 175px;
    }
    @include mobile-sm {
      width: 150px;
    }
    img {
      width: 75%;
      @include laptop {
        width: 55%;
      }
      @include macbook {
        width: 85%;
      }
      @include tablet {
        width: 100%;
      }
    }
  }
  .navbar-nav {
    > li {
      outline: none !important;
      &:focus-visible {
        outline: none;
      }
      a {
        outline: none !important;
        font-size: 18px;
        color: $white;
        padding: 46px 25px;
        transition: $transition;
        position: relative;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.15em;
        &:hover {
          &::before {
            width: 100%;
            left: 0;
          }
        }
        &::before {
          bottom: 20px;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: $primary;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
          @include tablet {
            display: none;
          }
        }

        &.active {
          color: $primary;
        }
        @include laptop {
          font-size: 14px;
          padding: 33px 20px;
        }
        @include tablet {
          padding: 5px 0px;
        }
      }
    }
  }

  .dropdown-menu {
    min-width: 200px;
    background: $black;
    top: 85px;
    @include tablet {
      background: $primary;
    }

    li {
      &:last-child {
        a {
          border-bottom: none;
          &:hover {
            border-bottom: none;
          }
        }
      }

      a {
        padding: 8px 15px;
        border: none;
        text-transform: uppercase;
        transition: $transition;
        color: $white;
        font-size: 15px;

        @include tablet {
          color: $black;
          padding: 8px 10px;
          font-size: 14px;
        }
        &:hover {
          background: transparent;
          color: $primary;

          &::before {
            bottom: 0px;
          }
        }
      }
    }
  }

  .dropdown {
    .dropdown-toggle {
      &::after {
        transition: $transition;
        margin-left: -3px;
        border-top: 0.4em solid;
        border-right: 0.4em solid transparent;
        border-bottom: 0;
        border-left: 0.4em solid transparent;
      }
    }
    &.open .dropdown-toggle {
      &::after {
        transform: rotate(-180deg);
      }
    }
  }

  .form-area {
    input {
      outline: none;
      border: none;
      box-shadow: none;
      min-width: 140px;
      border-radius: 8px;
      height: 40px;
      @include laptop {
        max-width: 120px;
        height: 35px;
        font-size: 15px;
      }
      @include tablet {
        height: 40px;
        max-width: 100%;
      }

      @include mobile-sm {
        height: 35px;
      }
      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
    .button-area {
      min-width: 170px;
      border-radius: 8px;
      height: 40px;
      background: linear-gradient(0, #ff9300 20%, #ffc06b 100%);
      align-items: center;
      justify-content: center;
      transition: $transition;
      @include laptop {
        min-width: 135px;
        height: 35px;
      }

      &:hover {
        button {
          &.login {
            background: transparent;
            color: $white;
          }
          &.daftar {
            background: black;
            color: $white;
          }
        }
      }

      button {
        outline: none;
        border: none;
        box-shadow: none;
        min-width: 80px;
        border-radius: 6px;
        height: 30px;
        font-size: 16px;
        transition: $transition;

        @include laptop {
          min-width: 46%;
          font-size: 13px;
          height: 28px;
        }
        &.login {
          background: $black;
          color: $white;
          margin-right: 4px;
        }
        &.daftar {
          background: transparent;
          color: $white;
        }
        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
    }
  }
  // Modal scss
  .modal {
    overflow-y: inherit;
    overflow-x: inherit;
  }

  #mobileMenuForm {
    button.close {
      color: black;
      border: none;
      background: none;
    }
    button.btn.btn-primary {
      font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 5vw;
      font-weight: 300;
      background: none;
      outline: none;
      padding: 0 20px;
    }
    input.model-txt {
      background: antiquewhite;
      width: 100%;
    }
    button.btn.btn-primary.submit {
      width: 100%;
      background: $primary;
      border-radius: 30px;
      padding: 10px 0;
      font-size: 6vw;
      font-weight: 600;
      border: none;
    }
    .mb-3-footer {
      width: 100%;
    }

    .text-model-left {
      width: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    .text-model-left h6 {
      font-family: "Lato", sans-serif;
      font-size: small;
    }

    button.btn.btn-primary.mb-3-btn {
      margin-left: 5px;
      padding: 10px 5px;
      border: 2px solid #000;
      color: #000;
      border-radius: 50rem;
      font-size: small;
      font-weight: 500;
    }
    button.btn.btn-primary.mb-3-btn:hover {
      background: grey;
    }
    h5#exampleModalLabel {
      text-shadow: none;
    }
    label.col-form-label {
      text-shadow: none;
    }

    .text-model-left h6 {
      padding-top: 6px;
      line-height: 28px;
      text-shadow: none;
    }
    button.btn.btn-primary.login-btn-model {
      border: none;
      color: white;
    }
  }

  #mobileMenuNav {
    .modal-title {
      color: $white;
    }
    .btn-close {
      color: $white;
    }
    .modal-content {
      background: rgba($color: $black, $alpha: 1);
    }
    .auth-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0px 15px;
      a {
        width: 49%;
        text-decoration: none;
        background: #7e2ea8;
        height: 50px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-size: 16px;
        @include mobile-sm {
          height: 40px;
          font-size: 15px;
        }
        &:first-child {
          margin-right: 3px;
          text-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.25);
          -webkit-box-shadow: 0 0 11px #ffe13e, 0 0 10px #2d2809, 0 0 11px #ffe13e inset;
          box-shadow: 0 0 11px #ffe13e, 0 0 10px #2d2809, 0 0 11px #ffe13e inset;
          background: #f7a403;
          text-align: center;
          border-radius: 1vw;
        }
        &:last-child {
          margin-left: 3px;
        }
      }
    }

    ul {
      li {
        a {
          font-size: 16px;
          padding: 10px 10px;

          @include mobile-sm {
            font-size: 15px;
            padding: 5px 10px;
          }
          img {
            width: 15px;
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.modal-open {
  .banner-area {
    background: rgba($color: $black, $alpha: 1);
  }
}
