.service {
  .service-wrapper {
    height: 480px;
    background-image: url("../images/common/service-banner.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 50px;

    @include tablet {
      height: auto;
      padding: 40px 20px 30px;
    }

    h2 {
      font-size: 45px;
      line-height: 55px;
      color: $white;
      font-family: $primaryFont;
      margin-bottom: 20px;
      width: 100%;
      @include tablet {
        max-width: 100%;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 15px;
      }

      @include mobile-sm {
        font-size: 28px;
        line-height: 35px;
      }
    }

    p {
      color: $white;

      @include tablet {
        text-align: center;
      }
    }
  }
  .service-feature {
    padding: 0px 40px 0px;
    transform: translateY(-90px);

    @include tablet {
      padding: 30px 5px;
      transform: translateY(0px);
    }
    .col-lg-12 {
      &:last-child {
        .service-item {
          margin-bottom: 0px;
        }
      }
    }

    .service-item {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 11px;
      border-radius: 30px;
      padding: 30px 25px 30px 25px;
      margin-bottom: 25px;
      min-height: 96%;
      transition: all ease-in-out 0.5s;
      background-color: $white;
      @include tablet {
        padding: 25px;
      }
      &:hover {
        background-color: #f8f7f5;

        .content {
          h5 {
            color: $primary;
          }
        }
      }
      .thumb {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        img {
          width: 100%;
        }
      }

      .content {
        p {
          margin-bottom: 0;
        }
        h5 {
          font-size: 20px;
          line-height: 26px;
          color: #119ddb;
          font-family: $primaryFont;
          margin-bottom: 10px;
          width: 100%;
          transition: all ease-in-out 0.5s;
          @include tablet {
            max-width: 100%;
            font-size: 20px;
            line-height: 26px;
          }

          @include mobile-sm {
            font-size: 18px;
            line-height: 26px;
          }
        }
      }
    }
  }
}

.service-area {
  .service-thumbnail {
    // background-image: url("../images/service/service-area.png");
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    img {
      border-radius: 10px;
    }
  }

  .disclaimer-content {
    margin-bottom: 30px;
    @include ipad {
      margin-bottom: 20px;
    }
    .section-heading {
      max-width: 100%;
      width: 100%;
      font-size: 32px;
      line-height: 40px;
      margin: 0 auto 15px;
      color: $tertiary;

      @include ipad {
        text-align: start;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
      }
      @include mobile-sm {
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 25px;
      }
    }
    .description {
      color: $black;
      background-color: #ffe48c;
      padding: 20px;
      border-radius: 10px;
      span {
        font-weight: 600;
      }
      p {
        margin-bottom: 0;
        @include ipad {
          margin-bottom: 10px;
        }
      }
      .icon {
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }
  }
}

.service-widget {
  box-shadow: 10px 6px 20px rgba(0, 0, 0, 0.12);
  .widget-top {
    background-color: $primary;
    width: 100%;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    h6 {
      color: $white;
    }

    .selection {
      position: relative;
      select {
        border-radius: 8px;
        background-color: #bddaec;
        border: none;
        outline: none;
        padding: 7px 15px;
        -webkit-appearance: none;
        appearance: none;
      }

      .icon {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }
  }
  .widget-bottom {
    padding: 15px 20px;
    border: 1px solid #2685c0;
    border-radius: 5px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    .jump-links {
      padding-left: 0;
      li {
        position: relative;
        list-style: none;
        a {
          text-decoration: none;
          color: $tertiary;
          display: block;
          padding: 5px 25px;
          &::after {
            position: absolute;
            content: "";
            top: 12px;
            left: 0;
            width: 12px;
            height: 12px;
            background-color: #2685c0;
            border-radius: 100%;
          }
        }
      }
    }

    .action-btn {
      .primary-btn {
        padding: 6px 25px;
        font-size: 14px;
        border-radius: 7px;
      }
    }
  }
}

.ads-banner {
  .ads-banner-wrapper {
    height: 800px;
    background-image: url("../images/common/ads-banner.png");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: cover;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    align-items: center;

    @include tablet {
      height: auto;
      background-position: 20% 0%;
      padding: 40px 20px;
    }

    h2 {
      max-width: 500px;
      font-size: 40px;
      line-height: 50px;
      color: $white;
      font-family: $primaryFont;
      margin-bottom: 30px;
      width: 100%;
      @include tablet {
        max-width: 100%;
        text-align: center;
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 20px;
      }

      @include mobile-sm {
        font-size: 28px;
        line-height: 30px;
      }
    }

    p {
      color: $white;
      max-width: 500px;
      width: 100%;
    }
  }
}
