.support-area {
  .paragraph {
    position: relative;
    margin-bottom: 25px;
    @include ipad {
      margin-bottom: 15px;
    }
  }

  .support-item {
    .support-title {
      background: transparent linear-gradient(239deg, #fec72e 0%, #ff9300 100%) 0% 0% no-repeat padding-box;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px 8px 0px 0px;
      h5 {
        font-size: 28px;
        line-height: 50px;
        color: $white;
        font-weight: 700;
        margin: 0;
      }
    }
  }

  .support-content {
    border: 1px solid $primary;
    border-top: none;
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 9px 30px -5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    @include ipad {
      box-shadow: none;
    }
    table {
      width: 100%;
      tr {
        td {
          width: 33%;
          text-align: center;
          padding: 17px 0px;
          border-bottom: 1px solid #ccc;
          border-right: 1px solid #ccc;

          color: $black;
          @include ipad {
            padding: 12px 0px;
            font-size: 15px;
          }
          &:first-child {
            border-left: 1px solid #ccc;
          }
        }
      }
    }
  }
}
