.testimonial {
  .testimonial-wrapper {
    padding: 0px 50px;
    @include tablet {
      padding: 0px 20px;
    }
    > h2 {
      font-size: 40px;
      line-height: 50px;
      color: #253d7b;
      font-family: $primaryFont;
      margin-bottom: 30px;
      text-align: center;
      @include tablet {
        text-align: center;
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 20px;
      }

      @include mobile-sm {
        font-size: 28px;
        line-height: 30px;
      }
    }
    .testimonial-container {
      position: relative;
      overflow-x: hidden;
      padding-bottom: 50px;

      .testimonial-item {
        h6 {
          font-family: $secondaryFont;
          color: $tertiary;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 2px;
        }

        .review-list {
          margin-bottom: 15px;
        }
      }
    }
  }

  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    display: none;
  }

  .swiper-pagination-bullet-active {
    background-color: $primary;
  }
}

.review-list {
  display: flex;
  gap: 3px;
  li {
    cursor: pointer;
    width: 16px;
    height: 16px;
    list-style: none;

    img {
      width: 100%;
    }
  }
}
