//== Color Variables
$primary: #0b3848;
$secondary: #169dd6;
$tertiary: #222222;
$black: #000;
$blackLite: #2d2d2d;
$white: #fff;
$green: #aaa75d;
$gray: #4d4048;
$lite: #f4f4f4;
$border: #b5b5b5;
$shadow: rgba(0, 0, 0, 0.12) 0px 15px 15px;
$transition: all 0.6s ease-in-out;

//== Typography
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

//== Font Family
$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Source Serif 4", sans-serif;
