//== Color Variables
$primary: #fec72e;
$secondary: #ff9300;
$black: #000;
$blackLite: #2d2d2d;
$white: #fff;
$green: #aaa75d;
$gray: #4d4048;
$lite: #f4f4f4;
$border: #b5b5b5;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
$transition: all 0.4s ease-in-out;

//== Typography
@font-face {
  font-family: "OriginTech personal use";
  src: url(../fonts/OriginTech.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

//== Font Family
$poppins: "Poppins", sans-serif;
$origintech: "OriginTech personal use";
