//== Color Variables
$primary: #003870;
$secondary: #07dc18;
$tertiary: #23242a;
$black: #000;
$blackLite: #2d2d2d;
$white: #fff;
$green: #aaa75d;
$gray: #4d4048;
$lite: #f4f4f4;
$border: #b5b5b5;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
$transition: all 0.6s ease-in-out;

//== Typography
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

//== Font Family
$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Open Sans", sans-serif;
